/* Ensure Dongle font is applied globally */
* {
  font-family: "Dongle", sans-serif;
}

:root {
  font-family: "Dongle", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background: #f8f9fa;
}
